@import '../bower_components/foundation/scss/foundation/functions';
@import '../bower_components/foundation/scss/foundation/settings';


// colors
$nephritis: #27ae60;
$clouds: #ecf0f1;
$airwootTheme: #c3c6d2;


// typography
$myriad: "myriad-pro", "Helvatica Nueue", "Helvetica", "Arial", sans-serif;
$proxima: "proxima-nova", "Helvatica Nueue", "Helvetica", "Arial", sans-serif;
$lato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typography-rhythm-base: 12px;


// Airwoot Specific Variables
$aw-select-box-size: 20px;

// ---------
// Top Bar
// ---------


/* Background color for the top bar */
$topbar-bg: darken(desaturate($airwootTheme, 10%), 40%);
$aw-topbar-link-color: white;

/* Height and margin */
$topbar-height: 50px; // rem-calc(50)
$topbar-margin-bottom: rem-calc(30);

/* Control Input height for top bar */
$topbar-input-height: rem-calc(30);

/* Controlling the styles for the title in the top bar */
$topbar-title-font: $proxima;
$topbar-title-weight: 300;
$topbar-title-font-size: rem-calc(22);

/* Style the top bar dropdown elements */
$aw-topbar-dropdown-fontsize: rem-calc(13);
$topbar-dropdown-toggle-size: 3px;
$topbar-dropdown-toggle-color: #fff;
$topbar-dropdown-toggle-alpha: 0.5;


/* Set the link colors and styles for top-level nav */
$topbar-link-color: $aw-topbar-link-color;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;
$topbar-link-weight: 400;
$topbar-link-font-size: rem-calc(14);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-hover: tint($topbar-bg, 30%) ;
$topbar-link-bg-active: shade($airwootTheme, 30%);
$topbar-link-bg-active-hover: scale-color($airwootTheme, $lightness: -14%);
$topbar-link-font-family: $proxima;

$topbar-dropdown-label-color: #555;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: 300;
$topbar-dropdown-label-font-size: rem-calc(10);


// ---------
// BUTTONS
// ---------

// We use these to build padding for buttons.
$button-med: rem-calc(7);
$button-tny: rem-calc(3);
$button-sml: rem-calc(5);
$button-lrg: rem-calc(10);

// We use this to control the display property.
$button-display: inline-block;
$button-margin-bottom: rem-calc(20);

// We use these to control button text styles.
$button-font-family: $proxima;
$button-font-color: darken($airwootTheme, 30%);
$button-font-color-alt: darken($airwootTheme, 35%);
$button-font-med: rem-calc(14);
$button-font-tny: rem-calc(10);
$button-font-sml: rem-calc(12);
$button-font-lrg: rem-calc(18);
$button-font-weight: normal;
$button-font-align: center;

// We use these to control various hover effects.
$button-function-factor: 10%;

// We use these to control button border styles.
$button-border-width: 0;

// We use this to set default opacity for disabled buttons.
$button-disabled-opacity: 0.5;